.App {
 
  text-align: center;
  
}
.counter{
  width: 200px;
  margin: 10px auto;
  padding: 5px;
  border-radius: 15px;
  box-shadow: 5px 5px 10px ;
  border: solid black 4px;
}

.buttons{
  display: flex;
  justify-content: center;

}
.buttons div{
  font-size: 24px;
  font-weight: 500;
  cursor: pointer;
  width: 2em;
  height: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: rgb(53, 2, 83);
  margin: 5px;
  border-radius: 5px;
}
.buttons div:hover{
  opacity: 0.9;
}
.output{
  font-size: 40px;
  padding: 10px;
}

a{
  text-decoration: none;
  font-weight: 500;
  cursor: pointer;

}
a:hover{
  color: rgb(174, 0, 255);
}